body{
	margin: auto;
	width: 514px;
}


span{
	display: block;
}
a{
	text-decoration: none;
}
#in, #up{
	display: none;
}
.main{
	height: 100vh;
	background-image: url(img/woman.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 3fr 2fr 1fr 1fr 2fr 1.5fr 1.5fr;

}
.main > div{
	color: white;
	text-align: center;
}
.litera{
	font-family: 'Allura';
	font-size: 110px;
	margin-bottom: 20px;
}
.litera > span{
	margin-top: 15%;
	color: rgb(239, 222, 204);
}	

.in_out{
	width: auto;
	position: relative;
}
.in, .up{
	font-family: "Montserrat";
	display: inline-block;
	cursor: pointer;
	position: absolute;
}
.in{
	font-size: 27px;
	left: 38%;
	color: rgb(239, 222, 204);
}
.up{
	right: 20%;
	font-size: 20px;
	color: rgba(255, 255, 255, 0.149);
}
.pass, .mail{
	margin-left: 25%;
	margin-right: 25%;
	margin-bottom: 20px;
	width: 250px;
	height: 30px;
	border: none;
	outline: none;
	border-bottom: 1px solid white;
	background: transparent;
	color: white;
	font-size: 14px;
	text-align: center;
}
.up:hover{
	font-size: 27px;
	color: rgb(239, 222, 204);
	transition: 1s;
}
.up:hover + .in{
	font-size: 20px;
	color: rgba(255, 255, 255, 0.149);
	transition: 1s;
}
.up + .in{
	transition: 1s;
	font-size: 27px;
	color: rgb(239, 222, 204);
}
.up{
	transition: 1s;
	font-size: 20px;
	color: rgba(255, 255, 255, 0.149);
}
.forgot{
	font-size: 15px;
  	font-family: 'Montserrat';
  	color: rgb(180, 180, 180);
  	letter-spacing: 1px;
}
.forgot a{
	text-decoration: none;
	color: white;
}
.button_in, .button_facebook{
	width: auto;
	width: 192px;
	height: 44px;
	border: 1px solid white;
	border-radius: 24px;
	color: white;
}
.button_facebook{
	background-color: rgb(37, 83, 179);
	margin-left: auto;
	margin-right: auto;

}
form{
	align-self: end;
	margin-bottom: 15px;
}
.button_in{
	display: block;
	margin: auto;
	text-decoration: none;
	color: white;
	text-align: center;
	line-height: 42px;
	font-size: 17px;
	font-family: 'Montserrat';
	font-weight: 500;
	cursor: pointer;
	
}
.button_facebook{
	display: block;
	text-decoration: none;
	color: white;
	text-align: center;
	line-height: 42px;
	font-size: 17px;
	font-family: 'Montserrat';
	font-weight: 500;
}

::-webkit-input-placeholder{
	font-family: 'Montserrat';
	text-align: center;
	font-size: 27px;
	font-weight: 500;
	color: #D3D3D3;
}


::-moz-placeholder{
	font-family: 'Montserrat';
	text-align: center;
	font-size: 27px;
	font-weight: 500;
	color: #D3D3D3;
}       
:-moz-placeholder{
	font-family: 'Montserrat';
	text-align: center;
	font-size: 27px;
	font-weight: 500;
	color: #D3D3D3;
}  
:-ms-input-placeholder{
	font-family: 'Montserrat';
	text-align: center;
	font-size: 27px;
	font-weight: 500;
	color: #D3D3D3;
}

:focus::-webkit-input-placeholder {
	color: transparent;
}
:focus::-moz-placeholder{
	color: transparent;
}
:focus:-moz-placeholder{
	color: transparent;
}
:focus:-ms-input-placeholder{
	color: transparent;
}

@media (max-width: 1200px) {
	body{
		width: 100%;
	}
	.main{
		background-attachment: fixed;
		background-size: cover;
	}
}

@media (max-width: 550px) {
	body{
		width: 100%;
	}

	.main{
		background-attachment: fixed;
		background-size: cover;
	}
	.pass, .mail{
		margin-left: 0;
		margin-right: 0;
	}
	::-webkit-input-placeholder{
	font-family: 'Montserrat';
	text-align: center;
	font-size: 17px;
	font-weight: 500;
	color: #D3D3D3;
}


::-moz-placeholder{
	font-family: 'Montserrat';
	text-align: center;
	font-size: 17px;
	font-weight: 500;
	color: #D3D3D3;
}       
:-moz-placeholder{
	font-family: 'Montserrat';
	text-align: center;
	font-size: 17px;
	font-weight: 500;
	color: #D3D3D3;
}  
:-ms-input-placeholder{
	font-family: 'Montserrat';
	text-align: center;
	font-size: 17px;
	font-weight: 500;
	color: #D3D3D3;
}
.in{
	font-size: 20px;
	left: 38%;
	color: rgb(239, 222, 204);
}
.up{
	right: 20%;
	font-size: 13px;
	color: rgba(255, 255, 255, 0.149);
}

.up:hover{
	font-size: 20px;
	color: rgb(239, 222, 204);
	transition: 1s;
}
.up:hover + .in{
	font-size: 13px;
	color: rgba(255, 255, 255, 0.149);
	transition: 1s;
}
.up + .in{
	transition: 1s;
	font-size: 20px;
	color: rgb(239, 222, 204);
}
.up{
	transition: 1s;
	font-size: 13px;
	color: rgba(255, 255, 255, 0.149);
}
.forgot{
	 font-size: 12px;
}